.mainUI {
    border: 0px solid pink;
    position: fixed;
    top: 0px;
    width: 99%;
    height: 99%;
    z-index: 1;
    pointer-events: none; /* allow click-through in transparent areas */
}

.regionUI {
    border: 0px solid yellow;
    position: absolute;
    display: flex;
    flex-direction: row;
    pointer-events: none;
}

.buttonUI {
    border: 0px solid lime;
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: auto;
    filter: drop-shadow(0px 0px 20px white);
}

.skyColor {
    filter: hue-rotate(240deg) saturate(100%) brightness(100%) drop-shadow(0px 0px 20px white);
}

.baseColor {
    filter: hue-rotate(24deg) saturate(68%) brightness(100%) drop-shadow(0px 0px 20px white);
}

.grayColor {
    filter: hue-rotate(0deg) saturate(0%) brightness(100%) drop-shadow(0px 0px 20px white);
}

.mainUI
{
    border: 0px solid pink;
    position: absolute;
    top: 0px;
    width:99%;
    height:99%;
    z-index: 9999;
    pointer-events: none; /* allow click-through in transparent areas */
}

.regionUI
{
    border: 0px solid yellow;
    position: absolute;
    display: flex;
    flex-direction: column;
    pointer-events: none;
}

.buttonUI
{
    border: 0px solid lime;
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: auto;
    filter: drop-shadow(0px 0px 20px white);
}

.joystick {
    width: 100px;
    height: 100px;
}
