.flex-fullscreen {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    pointer-events: none; /* allow click-through in transparent areas */
    display: flex;
    align-items: end;
    justify-content: center;
}

.area-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    pointer-events: none;
    background-color: rgba(106,110,115,0.6);
    padding: 20px;
    margin-bottom: 20vh;
}

.buttonUI {
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: auto;
    filter: drop-shadow(0px 0px 20px white);
}

.button-6 {
    align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
}