.button-container {
    position: fixed;
    right: 5px;
    z-index: 1000; /* Adjust the z-index as needed to ensure it's above other elements */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

img {
    width: 50px; /* Set the desired width for your image */
    height: 50px; /* Set the desired height for your image */
    cursor: pointer;
    transform: rotate(90deg);
}

.rotate-animation {
    transition: transform 0.5s ease;
}

.rotated {
    transform: rotate(180deg);
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background-color: #f0f0f0;
    box-sizing: border-box;
    flex-direction: column;
}

.menu p {
}

.uiwrapper {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    pointer-events: none;
    z-index: 9999
}

.uiblock {
    font-family: sans-serif;
    font-size: 4vmin;
    width: 10em;
    height: 1em;
    display: inline-block;
    color: #fff;
    background: rgba(0, 0, 100, 0.5);
    padding: 1em 2em;
    margin-top: 20vh;
    pointer-events: none;
}

.as-console-wrapper {
    /* ignore console warnings in snippet view */
    display: none !important;
}

.regionUI
{
    border: 0px solid yellow;
    position: absolute;
    display: flex;
    flex-direction: row;
    pointer-events: none;
    z-index:9999
}

.buttonUI
{
    border: 0px solid lime;
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: auto;
    filter: drop-shadow(0px 0px 20px white);
}

.buttonUI > div:first-child {
    order: -1; /* Move the first inner div to the beginning */
}

.exit-button {
    rotate: 90deg;
    width: 5vh;
    height: 5vh;
}

.maximize-button {
    width: 3vh;
    height: 3vh;
}