@media only screen and (min-width: 160em) {
  /* .md-main__inner {
    max-width: none;
  } */
  /* .md-sidebar--primary {
    left: 0;
  } */
  /* .md-sidebar--secondary {
    right: 0;
    margin-left: 0;
    -webkit-transform: none;
    transform: none;
  }   */

  .md-main__inner {
    max-width: 72rem;
  }
  .md-sidebar--secondary {
    margin-left: 63rem;
  }   
  

  .md-typeset {
    font-size: 0.65rem;
  }

  .md-grid {
    max-width: 75rem;
    margin-right: auto;
    margin-left: auto;
  }
}
